@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table pagination: active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* Table pagination: for dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit
}

/* Table pagination: for dark mode */
.mary-table-pagination button {
    @apply bg-base-100
}

.breadcrumbs li {
    @apply text-sm
}

/* Menyembunyikan scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Untuk Firefox */
* {
    scrollbar-width: none;
}

/* Untuk Internet Explorer dan Edge */
* {
    -ms-overflow-style: none;
}

/* Gaya untuk breadcrumb */
.breadcrumbs {
    @apply flex items-center py-2;
}

.breadcrumbs ul {
    @apply flex flex-wrap list-none p-0 m-0;
}

.breadcrumbs li {
    @apply inline-flex items-center;
}

.breadcrumbs li:not(:last-child)::after {
    content: "/";
    @apply mx-2 text-gray-400;
}

.breadcrumbs a {
    @apply text-blue-500 hover:text-blue-700 transition-colors duration-200;
}

.breadcrumbs li:last-child {
    @apply font-semibold text-gray-700;
}
